<!--<h1 mat-dialog-title>Filtre</h1>-->
<div mat-dialog-content>
  <div class="selection-container">
    <mat-label
      >Sélection
      <mat-checkbox class="example-margin" (click)="allSelectToggle($event)" [checked]="allSelected"> </mat-checkbox>
    </mat-label>
    <mat-selection-list [(ngModel)]="currentValues" [multiple]="true" (selectionChange)="onChange()">
      <mat-list-option [value]="option.value" *ngFor="let option of currentOptions">
        <div class="displayed-container">
          <mat-icon *ngIf="option.value === true">done</mat-icon>
          <mat-icon *ngIf="option.value === false">close</mat-icon>
          {{ option.displayed }}
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
